.admin-bar {

  .wrapper-navbar,
  .modal-backdrop, {
    top: 46px;

    @media screen and (min-width: 783px) {
      top: 32px;
    }
  }

  #nav-modal .modal-nav-body {
    padding-top: 46px;

    @media screen and (min-width: 783px) {
      padding-top: 32px;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.wrapper-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}

.navbar-brand {
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
  z-index: 4;

  .navbar-dark & {
    a {
      color: $theme-primary;
      transition: all 0.3s ease-in-out;
    }
  }

  .modal-open & {

    a {
      color: #000;
    }
  }
}

.navbar-nav {

  .navbar-expand-md & {

    @include media-breakpoint-up(md) {
      margin-left: auto;
    }
  }
}

.navbar-toggler {
  position: relative;
  border: 0;
  z-index: 4;

  @include hover-focus-active() {
    outline: 0;
  }

  .bar {
    position: relative;
    display: block;
    background-color: $navbar-dark-color;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    left: 0;
    opacity: 1;

    &:nth-child(1),
    &:nth-child(3) {
      transition: transform 0.35s ease-in-out;
    }
  }

  &:not(.collapsed) {

    .bar {

      &:nth-child(1),
      &:nth-child(3) {
        position: absolute;
        left: 12px;
        top: 10px;
        opacity: 0.9;
      }

      &:nth-child(1) {
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        height: 12px;
        visibility: hidden;
        background-color: transparent;
      }

      &:nth-child(3) {
        transform: rotate(-135deg);
      }
    }
  }
}

#nav-modal {
  z-index: 1;
  background-color: rgba($theme-primary, 0.9);

  .modal-nav-content {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  .modal-nav-body {
    margin-top: 80px;
  }

  .modal-dialog {
    min-height: 100%;
  }

  .navbar-nav {

    > li {

      > a {
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 3em;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .widget-area {
    margin-top: 40px;
  }
}

.modal-backdrop {
  display: none;
}

#home-page-wrapper {
  padding: 0;
}

.custom-header {
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
  color: #fff;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1;
  }

  .header-image-text {
    margin-top: 100px;

    .title {
      font-size: 5em;
    }

    .description {
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.25rem;
      line-height: 1.15;

      &.line-two {
        color: $theme-primary;
      }
    }
  }

  .header-buttons {
    margin-top: 40px;

    .btn {
      margin-right: 2.5px;
    }
  }
}


.widget_nav_menu {

  .menu-social-container {

    .navbar-nav {
      flex-direction: row;

      > li {

        > a {
          font-size: 1.4em!important;
          display: block;
          border: 2px solid #000;
          height: 80px;
          width: 80px;
          line-height: 85px;
          text-align: center;
          margin-right: 0.25em;
          border-radius: 50%;
        }
      }
    }
  }
}

.btn {
  text-transform: uppercase;
  font-size: 1.15rem;

  &.btn-primary {
    background-color: $theme-primary;
    border-color: $theme-primary;
    color: #000;

    &.btn-outline {
      color: $theme-primary;
    }
  }

  &.btn-outline {
    background-color: transparent;
    border-width: 2px;
  }
}
