.admin-bar {

  .wrapper-navbar,
  .modal-backdrop, {
    top: 46px;

    @media screen and (min-width: 783px) {
      top: 32px;
    }
  }

  #nav-modal .modal-nav-body {
    padding-top: 46px;

    @media screen and (min-width: 783px) {
      padding-top: 32px;
    }
  }
}

.wrapper-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}

.navbar-brand {
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
  z-index: 4;

  .navbar-dark & {
    a {
      color: $theme-primary;
      transition: all 0.3s ease-in-out;
    }
  }

  .modal-open & {

    a {
      color: #000;
    }
  }
}

.navbar-nav {

  .navbar-expand-md & {

    @include media-breakpoint-up(md) {
      margin-left: auto;
    }
  }
}

.navbar-toggler {
  position: relative;
  border: 0;
  z-index: 4;

  @include hover-focus-active() {
    outline: 0;
  }

  .bar {
    position: relative;
    display: block;
    background-color: $navbar-dark-color;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    left: 0;
    opacity: 1;

    &:nth-child(1),
    &:nth-child(3) {
      transition: transform 0.35s ease-in-out;
    }
  }

  &:not(.collapsed) {

    .bar {

      &:nth-child(1),
      &:nth-child(3) {
        position: absolute;
        left: 12px;
        top: 10px;
        opacity: 0.9;
      }

      &:nth-child(1) {
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        height: 12px;
        visibility: hidden;
        background-color: transparent;
      }

      &:nth-child(3) {
        transform: rotate(-135deg);
      }
    }
  }
}

#nav-modal {
  z-index: 1;
  background-color: rgba($theme-primary, 0.9);

  .modal-nav-content {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  .modal-nav-body {
    margin-top: 80px;
  }

  .modal-dialog {
    min-height: 100%;
  }

  .navbar-nav {

    > li {

      > a {
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 3em;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

.modal-backdrop {
  display: none;
}

#home-page-wrapper {
  padding: 0;
}

.custom-header {
  position: relative;
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  height: 100vh;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1;
  }
}
